<div class="form-inline">
	<table class="tbltitle">
		<tr class="std">
		<!-- BEGIN level_text -->
			<td class="std">
				{TXT_COL}
			</td>
		<!-- END level_text -->
		</tr>
		<tr>
			<!-- BEGIN level_select -->
			<td class="std">
				<select class="form-control" id="{ID}" name="{UNIQUE_ID_SEL}"  {DISABLED}>
				<!-- BEGIN level_options -->
				<option value="{VAL_LEVEL_OPTION}" {CHK_LEVEL_OPTION}>{TXT_LEVEL_OPTION}</option>
				<!-- END level_options -->
				</select>
			</td>
			<!-- END level_select -->
		</tr>
	</table>
	<input type="hidden" id="{POST_VAR}_hidden" name="{POST_VAR}" value="{VALUE}" />
</div>

<script type="text/javascript">
    
$(document).ready(function () {

	var pathSeparator = " → ";	
	var innerSeparator = " ↕ ";
	var optionsDefJson = '{JSON_DEF}';
	var columnDefJson = '{JSON_COL}';
	var selectText = "{TXT_SEL}";
	var levels = {NUM_LEVELS};
	var id = "{POST_VAR}";
	var curroptions = [];
	var noopt = "{NOOPT}";	
	var optionsDef = $.parseJSON(optionsDefJson);
	var columnDef = $.parseJSON(columnDefJson);

	
	function setOptionsForSelection(input, subOptions, level)
	{
		var currentElement = input.shift();

		if(currentElement !== undefined) {
			currentElement = currentElement.trim();
			var curr = currentElement.split(innerSeparator)[0];
		}
		curroptions[level] = 0;

			if(typeof subOptions.options !== 'undefined' && subOptions.options.length === 0 && typeof columnDef[level] !== 'undefined') {
				var defaultValue = {'name' : noopt};
				subOptions.options.push(defaultValue);
				}

		
		$.each(subOptions.options, function (i, option) {
			var selectOption = new Option(option.name,option.name);
			$('#' + id + '_' + level).append(selectOption);
			var opt = option.name.trim();
			curroptions[level]++;
			if(curr === opt.split(innerSeparator)[0] || option.name.trim() === noopt) {
				selectOption.selected = true;
				if (level+1 < levels) {
					setOptionsForSelection(input, option, level + 1);
				}
			}
			
		});
	}
	
	function loadOptionsFromHiddenValue()
	{
		
		var value = $('#' + id + '_hidden').val();
		var optsPerLevel = value.split(pathSeparator);
		for (i=0;i<levels;i++) {
			curroptions[i]=0;
			}
		setOptionsForSelection(optsPerLevel, optionsDef, 0);
	}
	
	function writeOptionsToHiddenValue()
	{
		
		var hidden = [];
		for(i=0;i<levels;i++) {
			selectedText = $('#' + id + '_' + i + ' :selected').text();
			if(selectedText.length > 0) {
				hidden[i] = selectedText.trim(); 
				}
			if (curroptions[i] == 0) {
				hidden[i] = columnDef[i]['default'];
			}
				
			
		}
		$("#" + id + '_hidden').val(hidden.join(pathSeparator));
	}

	function changeSelectVisibility(id, levels)
	{
		for(n = 0; n < levels; n++) {
			var select = $('#' + id + '_' + n);
			// Use the select to find the header and then turn it back into a jquery object
			var header = $(select.closest('tbody').children('tr[class="std"]').children()[n]);
				if(select.children().length === 1 ) {
				header.hide();
				select.hide();
			} else {
				if (select.children()[1].childNodes[0].nodeValue == noopt) {
					header.hide();
					} else {
					header.show();
				}
				select.show();
			}
		}
	}
	//main
	//initial display
	loadOptionsFromHiddenValue();

	changeSelectVisibility(id, levels);
	//reactions for clicks
	for(i = 0; i < levels; i++) {
		(function(i) {
			$('#'+id+'_'+i).change(function() 
			{
				for(j = i+1; j < levels; j++) {
					$('#' + id + '_' + j).children().remove();
				}
				//determine values to be returned	
				writeOptionsToHiddenValue();

				//prepare view of changes
				for(k = 0; k < levels; k++) {
					$('#' + id + '_' + k).children().remove();
					selectOption = new Option(selectText,'');
					$('#' + id + '_' + k).append(selectOption)
				}
				loadOptionsFromHiddenValue();
				
				writeOptionsToHiddenValue();
				changeSelectVisibility(id, levels);
			});
		})(i);
	}
});

</script>
